#root {
  margin: 0 auto;
}

html {
  background-color: #1a1a1a;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background: #d0d7de;
  }
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #30363d;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}
