/* MicroCMSで画像を挿入時の余白を調整するため、figure imgにmargin-topを追加 */
figure img {
  margin-top: 16px;
}

.newsContent {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}
