.pagination {
  font-size: bold;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
}

.pagination .active {
  background-color: #FF8F80;
  color: white;
  padding: 5px 10px;
}