.sliderWrapper :global(.slick-track) {
  height: 100vh;
  overflow-x: hidden; /* 必要に応じて */
}

.sliderWrapper :global(.slick-slider) {
  width: 100vw;
  height: 100vh;
}

.sliderWrapper :global(.slick-slider div) {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sliderWrapper :global(.slick-slider img) {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.sliderWrapper :global(.slick-dots) {
  bottom: 0px !important;
}

/* スライダーのボタンサイズ */
.sliderWrapper :global(.slick-slider button) {
  width: 26px;
  height: 60px;
}

.sliderWrapper :global(.slick-prev) {
  left: 40px;
  z-index: 1;
}

.sliderWrapper :global(.slick-next) {
  right: 40px;
  z-index: 1;
}

/* 前へ矢印のアイコン */
.sliderWrapper :global(.slick-prev:before) {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/common/ico-arrow-white-brock.svg') no-repeat center
    center;
  /* 画像パスを設定 */
  background-size: cover;
  transform: rotate(180deg);
}

/* 次へ矢印のアイコン */
.sliderWrapper :global(.slick-next:before) {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/common/ico-arrow-white-brock.svg') no-repeat center
    center;
  /* 画像パスを設定 */
  background-size: cover;
}

/* ドットボタン */
.sliderWrapper :global(.slick-dots) {
  display: none !important;
}

@media (max-width: 992px) {
  .sliderWrapper :global(.slick-prev),
  .sliderWrapper :global(.slick-next) {
    display: none !important;
  }

  .sliderWrapper :global(.slick-dots) {
    display: block !important;
    bottom: 70px !important;
  }
}

@keyframes scrollAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.scrollText {
  animation: scrollAnimation 1s ease-in-out infinite;
}

.scrollText::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  height: 50px;
  width: 2px;
  background-color: white;
}
