.root :global(.slick-track) {
  height: 100%;
  overflow-x: hidden; /* 必要に応じて */
}

.root :global(.slick-slider) {
  width: 100%;
  height: 100%;
}

.root :global(.slick-slider) div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.root :global(.slick-slider) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.root :global(.slick-dots) {
  bottom: 0px !important;
}

/* スライダーのボタンサイズ */
.root :global(.slick-slider) button {
  width: 26px;
  height: 60px;
}

.root :global(.slick-prev) {
  left: 40px;
  z-index: 1;
}

.root :global(.slick-next) {
  right: 40px;
  z-index: 1;
}

/* 前へ矢印のアイコン */
.root :global(.slick-prev:before) {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/common/ico-arrow-white-brock.svg') no-repeat center
    center;
  /* 画像パスを設定 */
  background-size: cover;
  transform: rotate(180deg);
}

/* 次へ矢印のアイコン */
.root :global(.slick-next:before) {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/common/ico-arrow-white-brock.svg') no-repeat center
    center;
  /* 画像パスを設定 */
  background-size: cover;
}

/* ドットボタン */
.root :global(.slick-dots) {
  display: none !important;
}

@media (max-width: 992px) {
  .root :global(.slick-prev),
  .root :global(.slick-next) {
    display: none !important;
  }

  .root :global(.slick-dots) {
    display: block !important;
    bottom: 70px !important;
  }
}
